@use "../base/variables" as *;
@use "../base/mixins" as *;

// stylelint-disable selector-class-pattern

.view-selector {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5 * $spacing-abs-large;
}

.DayPicker * {
	outline: none;
}

.calendar-nav {
	display: flex;
	align-items: center;

	.month-name {
		flex: 1;
		text-align: center;
	}

	.button-today {
		width: $input-height;
	}
}

.DayPicker-Body {
	display: grid;
	grid-template-rows: repeat(6, $input-height);
}

.DayPicker-Months {
	line-height: 1;
}

.DayPicker-Week,
.DayPicker-WeekdaysRow {
	display: grid;
	grid-template-columns: repeat(7, $input-height);
}

.DayPicker-Day,
.DayPicker-Weekday {
	display: flex;
	align-items: center;
	justify-content: center;
}

.DayPicker-Body,
.DayPicker-WeekdaysRow {
	width: 100%;
	border-collapse: collapse;
}

.DayPicker-Body thead {
	display: block;
	width: 100%;
}

.DayPicker-Body,
.DayPicker-WeekdaysRow,
.DayPicker-Week {
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
}

.DayPicker-Body {
	grid-template-rows: none;
}

.DayPicker-WeekdaysRow,
.DayPicker-Week {
	width: 100%;
}

.DayPicker-Day {
	padding: 0;
}

.DayPicker-Day .DayPicker-DayButton {
	@include color("text");
	display: grid !important;
	box-sizing: border-box !important;
	width: 34px !important;
	height: 34px !important;
	padding: 0 !important;
	font: inherit !important;
	line-height: 1 !important;
	background: transparent !important;
	border: 0 !important;
	border-radius: 50% !important;
	place-items: center;
}

.DayPicker-Day--disabled .DayPicker-DayButton {
	@include color("text-disabled");
}

.DayPicker-WeekdaysRow {
	height: $input-height;
}

.DayPicker-Weekday {
	@include color("text-faded");
	font-size: 80%;
}

.DayPicker-Day {
	margin: 1px;
	border-radius: 50%;
	transition: $transition;

	&:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):not(.DayPicker-Day--selected) {
		&:hover {
			@include background-color("background-hover");
		}
	}
}

.DayPicker-Day--disabled,
.DayPicker-Day--disabled .DayPicker-DayButton {
	@include color("text-disabled");
}

.DayPicker-Day--hasEntry,
.DayPicker-Day--hasEntry .DayPicker-DayButton {
	font-weight: $font-weight-bold;

	&:not(.DayPicker-Day--selected) {
		@include color("main");
	}
}

.DayPicker-Day--today:not(.DayPicker-Day--outside):not(.DayPicker-Day--selected),
.DayPicker-Day--today:not(.DayPicker-Day--outside):not(.DayPicker-Day--selected)
	.DayPicker-DayButton {
	@include border-color("main");
	border-style: solid;
	border-width: 2px;

	&:hover {
		@include border-color("main-hover");
	}
}

.DayPicker-Day--selected {
	background: transparent;
	border-color: transparent;

	&:hover {
		background: transparent;
	}
}

.DayPicker-Day--selected .DayPicker-DayButton {
	@include color("text-button");
	@include background-color("main");
	@include box-shadow($shadow-size-outer, "shadow-outer");

	&:hover {
		@include background-color("main-hover");
	}
}
