$editor-padding-small: 1.25 * $spacing-abs-large;
$editor-padding-large: 2 * $spacing-abs-large;

.editor {
	@include background-color("background-input");
	@include box-shadow($shadow-size-inner, "shadow-inner");
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: $border-radius-input;
}

.editor-scrollable {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: auto;

	@media (max-width: $screen-desktop) {
		padding: $editor-padding-small $editor-padding-small 0 $editor-padding-small;
	}

	@media (min-width: $screen-desktop + 1px) {
		padding: $spacing-abs-large $spacing-abs-large 0 $spacing-abs-large;
	}
}

.editor-title-wrapper {
	font-weight: $font-weight-bold;
	font-size: 150%;
}

.editor-title-input {
	@include color("text");
	width: 100%;
	padding: 0;
	appearance: none;
	background: transparent;
	border: 0 !important;
	border-radius: 0;
	box-shadow: none !important;
	outline: 0;
	font: inherit;
	font-weight: inherit;

	&.is-empty {
		@include color("text-placeholder");
	}
}

.editor-text-wrapper,
.lexical-editor,
.lexical-content-editable {
	flex: 1;
	min-height: 0;
}

.lexical-editor {
	position: relative;
	height: 100%;
}

.lexical-content-editable {
	height: calc(100% - 1rem);
	outline: 0;

	@media (max-width: $screen-desktop) {
		padding-bottom: $editor-padding-small;
	}

	@media (min-width: $screen-desktop + 1px) {
		padding-bottom: $editor-padding-large;
	}

	p {
		margin-top: $paragraph-spacing;
	}
}

.lexical-placeholder {
	@include color("text-placeholder");
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.editor-toolbar {
	@include background-color("background-toolbar");
	@include box-shadow(0 -1.5px 1px 0, "shadow-inner");
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $input-height;

	@media (max-width: $screen-desktop) {
		padding: 0 $editor-padding-small 0 ($editor-padding-small - $spacing-abs-medium);
	}

	@media (min-width: $screen-desktop + 1px) {
		padding: 0 $spacing-abs-large 0 ($spacing-abs-large - $spacing-abs-medium);
	}
}

.word-count {
	@include color("text-faded");
	line-height: 1;
}
