// Colors
$themes: (
	"light": (
		"background": #f5f7fa,
		"background-hover": #ecf5ff /* Same as "background-toolbar" */,
		"background-button-disabled": #c0c4cc,
		"background-input": #ffffff,
		"background-input-hover": #ecf5ff,
		"background-toolbar": #ecf5ff /* Same as "background-hover" */,
		"error": #b42332,
		"main": #176bc1,
		"main-hover": #337ecc,
		"text": #303133,
		"text-button": #ffffff,
		"text-disabled": #c0c4cc,
		"text-faded": #626975,
		"text-placeholder": #626975,
		"scrollbar": rgba(0, 0, 0, 0.2),
		"scrollbar-hover": rgba(0, 0, 0, 0.3),
		"shadow-inner": rgba(0, 0, 0, 0.13),
		"shadow-outer": rgba(0, 0, 0, 0.18),
	),
	"dark": (
		"background": #1d2129,
		"background-hover": #303845,
		"background-button-disabled": #454a54,
		"background-input": #252a33,
		"background-input-hover": #303845,
		"background-toolbar": #252a33,
		"error": #ff9b9b,
		"main": #176bc1,
		"main-hover": #66b1ff,
		"text": #e5eaf3,
		"text-button": #ffffff,
		"text-disabled": #6c727f,
		"text-faded": #a3a6ad,
		"text-placeholder": #7d828c,
		"scrollbar": rgba(0, 0, 0, 0.4),
		"scrollbar-hover": rgba(0, 0, 0, 0.5),
		"shadow-inner": rgba(0, 0, 0, 0.2),
		"shadow-outer": rgba(0, 0, 0, 0.4),
	),
) !default;

// Text
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial",
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 16px;
$font-size-h1: 150%;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height: 1.7;
$paragraph-spacing: 1em;

// Spacing
$spacing-abs-small: 10px;
$spacing-abs-medium: 15px;
$spacing-abs-large: 30px;
$spacing-rel-small: 2.5vw;
$spacing-rel-medium: 3.5vw;
$spacing-rel-large: 6vw;

// Sizes
$editor-max-width: 860px;
$header-height: 37px;
$input-height: 40px;
$input-width: 210px;
$scrollbar-padding: 4px;
$scrollbar-width: 14px;

// Screen sizes (media query breakpoints)
$screen-tablet: 800px;
$screen-desktop: 1224px;
$screen-large: 1824px;

// Other
$border-radius-button: 10px;
$border-radius-input: 5px;
$shadow-size-inner: inset 0.5px 0.5px 1px 1px;
$shadow-size-outer: 0.5px 0.5px 1px 1px;
$transition: 0.2s;
